pw_HOST=https://skye1.dev.mga.innoveo-skye.net
pw_TESTUSER=usercc
pw_PASSWORD=MGA@1234
pw_EMAIL=yash.bodhale+MGAUA@tinubu.com

export pw_HOST="https://skye1.dev.mga.innoveo-skye.net"
export pw_TESTUSER="usercc"
export pw_PASSWORD="MGA@1234"
export pw_EMAIL="yash.bodhale+MGAUA@tinubu.com"
