pw_HOST=https://skyeqa2.ext.saas1.innoveo-skye.net
pw_TESTUSER=usercc
pw_PASSWORD=Test1234
pw_EMAIL=qa_test@ext.saas1.innoveo-skye.net

export pw_HOST="https://skyeqa2.ext.saas1.innoveo-skye.net"
export pw_TESTUSER="usercc"
export pw_PASSWORD="Test1234"
export pw_EMAIL="qa_test@ext.saas1.innoveo-skye.net"
